body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(to bottom, #ffe4ec, #fdf0f8, #e0f7fa);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    overflow-x: hidden;
    text-align: left;
  }
  .navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ff69b4;
  }

  .titleText {
    position: absolute;
    font-size: 60px;
    left: 100px;
    color: #ff69b4;
  }

  .console {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: contain;       /* ensures it fills the circle without distortion */
    border-radius: 50%;     /* makes it a circle */
    border: 4px solid #FFFFFF; /* optional: adds a border */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* optional: soft shadow */
    background-color: #c2e9f0;
    top: 30%;
    left: 20%;
    transition: transform 0.3s ease; 
  }

  .console:hover{
    transform: scale(1.2)
  }

  .notes {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: contain;      /* ensures it fills the circle without distortion */
    border-radius: 50%;     /* makes it a circle */
    border: 6px solid #cbe6ee; /* optional: adds a border */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* optional: soft shadow */
    background-color: #fbf2d8;
    top: 30%;
    left: 60%;
    transition: transform 0.3s ease; 
  }

  .notes:hover{
    transform: scale(1.2)
  }

  .gamelink {
    position:absolute;
    top: 80%;
    left: 17.5%;
  }

  .gamelink ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }

  .gamelink a{
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .gamelink a:hover {
    color: #ff69b4;
  }

  .soundlink {
    position:absolute;
    top: 80%;
    left: 54.5%;
  }

  .soundlink ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }

  .soundlink a{
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .soundlink a:hover {
    color: #ff69b4;
  }