body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(to bottom, #ffe4ec, #fdf0f8, #e0f7fa);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    overflow-x: hidden;
    text-align: left;
  }
  .navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }
  
  .navbar a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ff69b4;
  }

  .titleText {
    position: absolute;
    font-size: 60px;
    left: 100px;
    color: #ff69b4;
  }

  .portfolio-section {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 2rem;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .project-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    transform: scale(1.02);
  }

  .project-image {
    width: 100%;
    height: 300px;
    object-fit:cover;
    object-position: center 30%;
  }

  .project-content {
    padding: 1rem;
  }

  .project-content h3 {
    margin: 0;
    font-size: 1.6rem;
    color: #333;
  }

  .project-content p {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
  }

  .project-content a {
    display: inline-block;
    margin-top: 0.8rem;
    color: #ff69b4;
    font-weight: bold;
    text-decoration: none;
  }

  .project-content a:hover {
    text-decoration: underline;
  }